
img {
    max-width: 100%;
}

h1 {
    font-size: 4rem;
}

h2 {
    font-size: 3.2rem;
}

p {
    font-size: 1rem;
}

.contenedor {
    max-width: 1200px;
    width: 95%;
    /*margen arriba abajo*/
    margin: 5% auto;
}


@media (min-width:768px) {
    .con-sidebar {
        display: flex;
        justify-content: space-between;
    }
    aside {
        flex-basis: calc(33.3% - 2rem);
    }
    article {
        flex-basis: calc(66.7% - 2rem);
    }
}