/* importar archivo css */
@import url(index_medias_querys.css);
@import url(nosotros_medias_querys.css);
@import url(registrarse_medias_querys.css);
@import url(sesion_medias_querys.css);



:root {
    /*definir variables de colores */
    /* por pareja de combinación */
    --tonoA1: #ABEBEF;
    --tonoA2: #F8DCD7;

    --tonoB1: white;
    --tonoB2: black;

    --tonoC1: #C8ABEF;
    --tonoC2: #D2EFAB;

    --tonoD1: #BDEFAB;
    --tonoD2: #DDABEF;

    --tonoE1: #268699;
    --tonoE2: #993926;

    --tonoF1: #BDEFAB;
    --tonoF2: #DDABEF;

    --tonoG1: #F0AE54;
    --tonoG2: #5496F0;

    --gris: #F1F1F1;

    --azul: #4869F3;
    --azul-oscuro: #0628B9;
}


* {
    margin: 0;
    padding: 0;
}

body {
    overflow-x: hidden;
}

/* un atributo que se aplica a todas las secciones */
section {
    margin-left: 5%;
    margin-right: 5%;
}


/*  nav bootstrap */
nav {
    height: 50px;
    /*altura*/
    width: 100%;
    /*anchura*/
    padding-top: 20px;
    background-color: var(--azul);
    /*pone todo en una misma linea*/
    display: flex;
    flex-direction: row;
    /*para que distribuya el enlace en espacio parejo*/
    justify-content: space-around;
}

nav ul {
    height: 40px;
    /*altura*/
    width: 50%;
    /*anchura*/
    /* background-color: rgb(179, 201, 214);*/
    /*pone todo en una misma linea*/
    display: flex;
    flex-direction: row;
    /*para que distribuya el enlace en espacio parejo*/
    justify-content: space-between;
    /*quita las bolitas de listas*/
    list-style-type: none;
}

nav a {
    padding: 7px;
    /*quita la linea subrayado*/
    text-decoration: none;
   /* border: var(--azul-oscuro) solid 1px; */
    border-radius: 4px;
    color: black;
}

nav a:hover {
    background-color: var(--tonoB1);
    /*font-size: 20px;*/
  /*  border: var(--azul-oscuro) solid 1px; */
}


/* carrusel texto ofertas
archivo medias_querys.css
*/



/* carrusel imagénes */

/*animacion*/
@keyframes animacion {
    0% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }

    100% {
        -webkit-transform: translateX(calc(-500px*2));
        transform: translateX(calc(-500px*2));
    }
}

.div-uno {
    background-color: var(--tonoB1);
    border: 3px var(--tonoE1) solid;
}

.div-dos {
    background-color: var(--tonoB1);
    border: 3px var(--tonoE2) solid;
}

.div-tres {
    background-color: var(--tonoB1);
    border: 3px var(--tonoC2) solid;
}






/* sección 3: viajes programados */
.contenedor-viajes-programados img:hover {
    transform: scale(1.1);
}

.viajes-programados-descripcion a,
.viajes-tendencias-descripcion a {
    color: var(--tonoB2);

    /* quitando decoraciones a los enlaces */
    list-style-type: none;
    text-decoration: none;
}

.div-viajes-regalos a {
    color: var(--tonoG1);

    /* quitando decoraciones a los enlaces */
    list-style-type: none;
    text-decoration: none;
}

/* footer */
footer {
    background-color: var(--azul);
    height: 200px;
    width: 100%;
    left: 0;
    bottom: 0;
    margin-top: 0;

    padding: 20px;

    text-align: center;
    color: var(--tonoB2);
    position: relative;

    display: flex;
    /* propiedad necesaria para posicionar en fila los hijos mas directos */
    flex-direction: column;
    justify-content: space-between;
    /* propiedad necesaria para posicionar en fila los hijos mas directos */
    align-items: center;

}

.footer-enlaces {
    height: 100px;
    width: 80%;

    display: flex;
    /* propiedad necesaria para posicionar en fila los hijos mas directos */
    flex-direction: row;
    justify-content: space-between;
    /* propiedad necesaria para posicionar en fila los hijos mas directos */
    align-items: center;
}

.footer-enlaces ul { 
    line-height: 25px;

    display: flex;
    /* propiedad necesaria para posicionar en fila los hijos mas directos */
    flex-direction: row;
    /*
justify-content: center;  /* propiedad necesaria para posicionar en fila los hijos mas directos */
    align-items: center;
    justify-content: space-between;

}

.footer-enlaces li,
.footer-enlaces a {
    padding: 7px;  
    border-radius: 4px;
    color: black;


    /*  color: var(--tonoB2);
   quitando decoraciones a los enlaces */
    list-style-type: none;
    text-decoration: none;

    /* quitando decoraciones a la lista */
    list-style: none;
}

.footer-redes-sociales {
    /*  background-color: var(--tonoD2);  */
    height: 70px;
    width: 80%;

    padding: 0 20px;

 /*   border: 2px var(--tonoB2) solid; */
    border-radius: 30px;

    display: flex;
    /* propiedad necesaria para posicionar en fila los hijos mas directos */
    flex-direction: row;
    justify-content: space-between;
    /* propiedad necesaria para posicionar en fila los hijos mas directos */
    align-items: center;
}

.footer-enlaces a:hover {
    background-color: var(--tonoB1);
    /*font-size: 20px;*/
 /*   border: var(--azul-oscuro) solid 1px; */
}

/*
.footer-enlaces li:hover {
    background-color: var(--tonoA1);
}
*/
