/************/
/* Media query para teléfonos MUY PEQUEÑOS móviles SM XS */
@media only screen and (max-width: 400px) {}

/* Media query para teléfonos STANDAR móviles SM XS */
@media only screen and (min-width: 401px) and (max-width: 795px) {}

/* Media query para tabletas MD */
@media only screen and (min-width: 796px) and (max-width:991px) {}

/* Media query para dispositivos de escritorio LG */
@media only screen and (min-width: 992px) {

          /* sección 1: registrarse */

          /* sección 1: iniciar sesion */
          .section-registrarse {
                    background-image: url(../imagenes/registrarse1.jpg);
                    background-position: center;
                    background-size: cover;
                    background-repeat: no-repeat;

                    height: 650px;
                    width: 110%;

                    margin-left: -5%;
                    margin-top: -80px;

                    padding-top: 80px;

          }

          /* div que contiene el h2, p y el formulario,
          los debe ubicar en columna */
          .div-registrarse-formulario {
                    height: 550px;
                    width: 100%;

                    margin: 10px auto;

                    /*pone todo en una misma columna */
                    display: flex;
                    flex-direction: column;
                    /*para que distribuya el enlace en espacio parejo*/
                    justify-content: space-around;
                    text-align: center;

          }


          /* form que contiene los div de los input
          y los botones, los debe ubicar en columna */
          .form-registrarse {
                    height: 550px;
                    width: 40%;

                    margin: 40px 28%;
                    padding: 20px;

                    border-radius: 50px;

                    /*pone todo en una misma columna */
                    display: flex;
                    flex-direction: column;
                    /*para que distribuya el enlace en espacio parejo*/
                    justify-content: space-between;
                    text-align: center;

                    border: 4px solid #fafafa10;
                    background: #fafafa10;
                    backdrop-filter: blur(0.4rem);
                    -webkit-backdrop-filter: blur(0.4rem);

                    overflow: hidden;
          }

          .form-registrarse p {
                    margin-bottom: 35px;
          }

          /* div contiene el label y el input */
          .registrarse-input {
                    height: 60px;
                    width: 100%;

                    /*pone todo en una misma línea */
                    display: flex;
                    flex-direction: row;
                    /*para que distribuya el enlace en espacio parejo*/
                    justify-content: space-between;
                    text-align: center;

                    overflow: hidden;
          }

          .registrarse-input label {
                    height: 30px;
                    width: 15%;

          }

          .registrarse-input input {
                    height: 30px;
                    width: 70%;
          }

          .btn-registrarse {
                    background-color: rgb(217, 231, 129);
                    width: 40%;
                    margin: 10px 28%;

                    padding: 10px 10px;

                    border: 2px var(--tonoB1) solid;
                    border-radius: 20px;
                    text-align: center;
          }





}
