/************/
/* Media query para teléfonos MUY PEQUEÑOS móviles SM XS */
@media only screen and (max-width: 400px) {}

/* Media query para teléfonos STANDAR móviles SM XS */
@media only screen and (min-width: 401px) and (max-width: 795px) {}

/* Media query para tabletas MD */
@media only screen and (min-width: 796px) and (max-width:991px) {}

/* Media query para dispositivos de escritorio LG */
@media only screen and (min-width: 992px) {

       
          /* sección 1: iniciar sesion */
          .section-iniciar-sesion {
                    background-color: aqua;

                    background-image: url(../imagenes/iniciar-sesion.jpg);
                    background-position: center;
                    background-size: cover;
                    background-repeat: no-repeat;

                    height: 620px;
                    width: 110%;

                    margin-left: -5%;
                    margin-top: -80px;

                    padding-top: 80px;


          }


          /* div que contiene el h2 y el formulario,
          los debe ubicar en columna */
          .div-iniciar-sesion {
                    height: 500px;
                    width: 80%;

                    margin: 50px 10%;


          }


          /* form que contiene los div de los input
          y los botones, los debe ubicar en columna */
          .form-iniciar-sesion {
                    height: 350px;
                    width: 35%;

                    margin: 40px 30%;
                    padding: 50px;

                    border-radius: 50px;

                    /*pone todo en una misma columna */
                    display: flex;
                    flex-direction: column;
                    /*para que distribuya el enlace en espacio parejo*/
                    justify-content: space-between;
                    text-align: center;

                    border: 4px solid #fafafa10;
                    background: #fafafa10;
                    backdrop-filter: blur(0.4rem);
                    -webkit-backdrop-filter: blur(0.4rem);

                    overflow: hidden;
          }


          .iniciar-sesion-titulo { 
                    margin-bottom: 50px;
          }

          /* div contiene el label y el input */
          .iniciar-sesion-input {
                    height: 60px;
                    width: 100%;

                    /*pone todo en una misma línea */
                    display: flex;
                    flex-direction: row;
                    /*para que distribuya el enlace en espacio parejo*/
                    justify-content: space-between;
                    text-align: center;

                    overflow: hidden;
          }

          .iniciar-sesion-input label {
                    height: 30px;
                    width: 15%;

          }

          .iniciar-sesion-input input {
                    height: 30px;
                    width: 70%;
          }

          /* botón registrarse 
          .btn-iniciar-sesion {
                    background-color: rgb(42, 42, 165);
                    height: 30px;
                    width: 40%;

                    margin-left: 30%;
          }*/

          .form-iniciar-sesion .enlace-registrarse { 
                    width: 50%;
                    margin-left: 25%;
          }


          .enlace-crear-cuenta {
                    color: var(--azul-oscuro);
                    /* quitando decoraciones a los enlaces */
                    list-style-type: none;
                    text-decoration: none;
          }



}